<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jony.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permisson.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- View 的 ClipToOutline 方法 可以设置阴影和 剪切轮廓 -->
        <activity
            android:name=".ClipToOutlineActivity"
            android:label="@string/title_activity_clip_to_outline"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 阅读工具类App -->
        <activity
            android:name=".reader_APP.ui.ReaderActivity"
            android:label="@string/reader"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>